---
---

@import "bootstrap/bootstrap";

$brand-primary: #DD2D2D;
$line-height-base: 1.6;
$navbar-height: 60px;
$navbar-margin-bottom: 30px;
$code-color: #586E75;
$pre-color: #586E75;
$well-bg: #f8f8f8;
$code-bg: #f8f8f8;
$pre-bg: #f8f8f8;
$navbar-light-active-color: gray(600);

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
