---
layout: default
title: Springer Lab / People
categories:
 - people
---

<div class="bigspacer"></div>
<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<div class='title'>Current members</div>
	</div>
</div>
<div class="bigspacer"></div>

{% assign current_members = site.categories.people | where:"alumni", false %}
{% assign pastt_members = site.categories.people | where:"alumni", true %}

{% for member in current_members reversed %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 or forloop.first %}
        <div class="row">
    {% endif %}
	<div class="col-md-4">
			<div class="media">
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="mt-0 smallhead"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
        </div>
    {% if loopindex == 0 or forloop.last %}
        </div>
		<div class="bigspacer"></div>
		<div class="bigspacer"></div>
    {% endif %}
{% endfor %}

<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<div class='title'>Past members</div>
	</div>
</div>
<div class="bigspacer"></div>

{% for member in past_members reversed %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 or forloop.first %}
        <div class="row">
    {% endif %}
	<div class="col-md-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="mt-0 smallhead"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% if loopindex == 0 or forloop.last %}
        </div>
    {% endif %}
{% endfor %}
