---
layout: default
title: Springer Lab / Publications
categories: 
 - publications
---
<div class="bigspacer"></div>
<div class="bigspacer"></div>

{% for paper in site.categories.publications %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 or forloop.first %}
        <div class="row">
    {% endif %}
		<div class="col-md-4 paperbox">
			<div class="media">
  				<a class="pull-right" href="{{ paper.url }}">
    				<img width=100 class="mr-3" src="{{ paper.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="mt-0 smallhead"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
    				<p class="note">{{ paper.ref }}</p>
  				</div>
			</div>
        </div>
    {% if loopindex == 0 or forloop.last %}
        </div>
		<div class="bigspacer"></div>
		<div class="spacer"></div>
    {% endif %}
{% endfor %}
